@mixin accordionDefaultOverWrite() {
    &.MuiAccordion-root {
        margin: 0 0 2rem;
        border-radius: 5px;
        box-shadow: none;

        &:before {
            display: none
        }

        &.Mui-expanded {
            margin: 0 0 2rem;
        }
    }

    .MuiAccordionSummary-root {
        align-items: flex-start;
        padding: 3rem;
        border-radius: 5px;

        .MuiAccordionSummary-content {
            margin: 0;
        }

        .MuiAccordionSummary-expandIcon {
            padding: 0px;
            border: 1px solid;
            border-radius: 4px;

            svg {
                width: 3rem;
                height: 3rem;
                transition: 300ms ease;
            }

            &.Mui-expanded {
                transform: rotate(0deg);

                svg {
                    transform: rotate(135deg)
                }
            }
        }
    }

    .MuiCollapse-container {
        .MuiAccordionDetails-root {
            padding: 0rem 3rem 3rem;
        }
    }
}

.accordion-default {
    @include accordionDefaultOverWrite();

    &.dark {
        margin: 0 0 1rem;
        border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);
        border-radius: 0 !important;
        background-color: transparent;
        color: #bdc4c7 ;

        &:last-child {
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
        }

        .MuiAccordionSummary-root {
            padding: 2.8rem 0;
            border-radius: 0;
            background-color: transparent;
            color: #ffffff;
            font-size: 2.8rem;

            .MuiAccordionSummary-expandIcon {
                margin: 0;
                border: none;
                @include svgColor(#fff);
            }
        }

        .MuiAccordionDetails-root {
            flex-wrap: wrap;
            padding: 1.5rem 3rem;
            border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);
            font-size: 2.4rem;
            line-height: 2;

            * {
                margin: 10px 0;
                font-size: 2.4rem;
            }
        }
    }
}

.accordion-colored {
    @include accordionDefaultOverWrite();

    &.primary {
        &.MuiAccordion-root {
            background-color: lighten($color: $primaryColor, $amount: 36);
        }

        .MuiAccordionSummary-root {

            .MuiAccordionSummary-expandIcon {
                border-color: $primaryColor;
                color: $primaryColor;
                @include svgColor($primaryColor);
            }
        }
    }

    &.secondary {
        &.MuiAccordion-root {
            background-color: lighten($color: $secondaryColor, $amount: 36);
        }

        .MuiAccordionSummary-root {

            .MuiAccordionSummary-expandIcon {
                border-color: $secondaryColor;
                color: $secondaryColor;
                @include svgColor($secondaryColor);
            }
        }
    }
}