.btn-primary {
  background-color: $primaryColor;
  color: #ffffff;

  @extend .svg-color-white;

  &:hover {
    background-color: darken($color: $primaryColor, $amount: 8);
  }
}

.btn-secondary {
  background-color: $secondaryColor;
  color: #ffffff;

  @extend .svg-color-white;

  &:hover {
    background-color: darken($color: $secondaryColor, $amount: 8);
  }
}

.btn-default {
  min-width: 12rem;
  padding: 0.8rem 1.9rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: none;

  &.MuiButton-root {
    @extend .btn-default;
  }

  &.MuiButton-containedPrimary {
    box-shadow: 0 3px 6px rgba($color: $primaryColor, $alpha: 0.49);
    color: lighten($color: $primaryColor, $amount: 80);

    &.Mui-disabled {
      background-color: rgba($color: $primaryColor, $alpha: 0.15);
    }
  }

  &.MuiButton-outlinedPrimary {
    box-shadow: inset 0 1px 4px rgba($color: $primaryColor, $alpha: 0.49),
      0 3px 6px -2px rgba($color: $primaryColor, $alpha: 0.49);
  }

  .MuiCircularProgress-root {
    position: absolute;
    top: 0.8rem;
    left: calc(50% - 1rem);
  }
}

.MuiIconButton-root {
  &.btn-icon-square {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 4px;

    &[variant="outlined"] {
      border: 1px solid;
      background-color: transparent;
      color: $textColor;
    }

    &.MuiIconButton-colorPrimary {
      @extend .btn-primary;

      &[variant="outlined"] {
        border-color: $primaryColor;
        color: $textColor;

        @extend .svg-color-primary;

        &:hover {
          background-color: $primaryColor;
          @extend .svg-color-white;
        }
      }
    }

    &.MuiIconButton-colorSecondary {
      @extend .btn-secondary;

      &[variant="outlined"] {
        border-color: $secondaryColor;
        color: $textColor;

        @extend .svg-color-secondary;

        &:hover {
          background-color: $secondaryColor;
          @extend .svg-color-white;
        }
      }
    }

    + .btn-icon-square {
      margin-left: 1.3rem;
    }
  }

  &.active {
    @extend .svg-color-primary;
  }
}
