.default-alert-dialog {
    min-height: 28rem;
    position: relative;
    padding: 3.4rem 3.8rem 2.5rem;

    &.MuiDialog-paper {
        @extend .default-alert-dialog;
    }

    &__title {
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 500;

        &.MuiTypography-root {
            @extend .default-alert-dialog__title;
        }
    }

    .message {
        color: #A3A8B1;
        font-size: 1.6rem;
        font-weight: 400;

        &.MuiTypography-root {
            @extend .message;
        }
    }

    .MuiDialogContent-root {
        padding: 0;

        &:first-child {
            padding-top: 0;
        }
    }

    .MuiDialogActions-root {
        justify-content: center;
        padding: 0;

        :not(:first-child) {
            margin-left: 2rem;
        }
    }

    .progressing {
        width: 100%;
        // position: absolute;
        top: 0;
        left: 0;
    }
}