$calendarGrey: #fefeff;
$borderColor:#EAF0F4;

.custom-fullcalendar {
    padding: 2rem;

    .fc-header-toolbar {
        @include media-breakpoint-down('sm') {
            flex-direction: column;

            .fc-toolbar-chunk {
                width: 100%;
                margin: 0 0 2rem;
                text-align: center;
            }
        }

        .fc-button-group {
            @include media-breakpoint-down('sm') {
                width: 100%;
            }

            .fc-prev-button,
            .fc-next-button,
            .fc-today-button {
                border-color: $color1;
                border-radius: 4px;
                background-color: transparent;
                outline: none;
                text-transform: capitalize;

                .fc-icon {
                    color: $color1;
                }

                &:hover,
                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &:active {
                    box-shadow: none;
                    outline: none;
                    
                    .fc-icon {
                        color: #fff;
                    }

                }
            }

            .fc-prev-button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .fc-next-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .fc-today-button {
                margin-left: 2rem;
                border-radius: 4px;
                color: $darkBlue;

                &:not(:disabled) {
                    border-color: $darkBlue;
                }
            }

            .fc-dayGridMonth-button,
            .fc-timeGridWeek-button,
            .fc-timeGridDay-button,
            .fc-listWeek-button {
                margin-left: 1.6rem;
                padding: 0.8rem 1.6rem;
                border: none;
                border-radius: 4px;
                background-color: #F7FAFC;
                color: $darkBlue;
                text-transform: capitalize;

                &.fc-button-active {
                    background-color: $primaryColor;
                    color: #ffffff;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .fc-toolbar-title {
            font-weight: 600;
        }
    }

    .fc-view {
        table {
            border-color: $borderColor;

            .fc-col-header-cell,
            th {
                padding: 1.2rem;
                border-color: $borderColor;
                background-color: $calendarGrey;

                .fc-col-header-cell-cushion {
                    color: #A3A6B4;
                    font-weight: 600;
                }
            }

            .fc-daygrid-day {
                border-color: $borderColor;

                .fc-daygrid-day-frame {
                    padding: 3px;

                    @include media-breakpoint-up('sm') {
                        padding: 1.2rem;
                    }
                }

                &.fc-day-today {
                    background-color: #fefeff;
                }

                &.fc-day-disabled {
                    background-color: #ffffff;
                }
            }
        }

        colgroup {
            col {
                width: 60px !important;
            }
        }

        .fc-scrollgrid-section {
            .fc-scrollgrid-shrink {
                padding: 0.5rem;
                border-color: $borderColor;
                background-color: $calendarGrey;
                color: #A3A6B4;
                font-weight: 600;
            }

            .fc-timegrid-slot {
                height: 2rem;
                border-color: $borderColor;
                background-color: #fefeff;
            }
        }

        .fc-timegrid-col {
            border-color: $borderColor;
        }
    }

    .fc-daygrid-event {
        border-radius: 4px;

        &.fc-event {
            max-width: 100%;
            display: block;
            align-items: center;
            padding: 0.3rem 0.6rem;
            color: #ffffff;
            font-size: 1.4rem;
            white-space: pre-wrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;

            .fc-event-main {
                @extend .fc-event;

                svg {
                    * {
                        fill: #ffffff;
                    }
                }

                .MuiIconButton-root {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    background-color: #4188d8;
                }
            }
        }
    }
}

.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
    padding: 0 !important;
}

.fc-list-event-dot{
    border-color: $primaryColor !important;
}

.fc-timegrid-event.fc-v-event{
    border: none !important;
    background-color: transparent !important;
}