@mixin scrollButtonStyle() {
    .MuiTabScrollButton-root {
        height: 40px;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        background-color: $primaryColor;
        color: lighten($color: $primaryColor, $amount: 30);

        &:first-child {
            margin-right: 2rem;
        }

        &:last-child {
            margin-left: 2rem;
        }

        .MuiSvgIcon-root {
            font-size: 3.5rem;
        }

        &.Mui-disabled {
            display: none;
            background-color: #d2d2d2;
            color: #EBE5E5;
            opacity: 1;
        }
    }
}

.default-tab {
    &-outlined {
        margin-bottom: 4rem;
        border-bottom: 1px solid rgba($color: #707070, $alpha: 0.11);

        .MuiTab-root {
            margin-right: 2rem;
            padding: 1rem 0 2rem;

            .MuiTab-wrapper {
                align-items: flex-start;
                color: #A3A8B1;
                font-weight: 500;
            }

            &.Mui-selected {
                .MuiTab-wrapper {
                    color: $primaryColor;
                }
            }
        }

        .MuiTabs-indicator {
            width: 70px !important;
        }
    }

    &-contained {
        margin: 0 0 4rem;
        border-radius: 30px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.02) 100%);
        z-index: 1;

        &.MuiTabs-root {
            @extend .default-tab-contained;
        }

        .MuiTab-root {
            min-height: 53px;
            padding: 0 3rem;
            border-radius: 30px;
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: none;
        }

        .MuiTabs-indicator {
            height: 100%;
            border-radius: 30px;
            z-index: -1;
        }

        @include scrollButtonStyle();
    }

    @include scrollButtonStyle();
}

.tab-style {
    &-slanted {
        align-items: flex-end;

        .MuiTabs-flexContainer {
            align-items: flex-end;
        }

        .MuiTab-root {
            padding: 1.4rem 4rem 1rem;
            border: 1px solid #EBE5E5;
            border-bottom: 0;
            border-radius: 8px 8px 0 0;
            background-color: #F2F2F2;
            color: #9F9F9F;
            opacity: 1;
            overflow: visible;
            text-transform: none;

            @include media-breakpoint-down('xs') {
                padding: 1.4rem 4rem 1rem 3rem;
            }

            @for $i from 1 through 30 {
                &:nth-child(#{$i}) {
                    z-index: 30 - $i;
                }
            }

            &:not(:first-child) {
                margin-left: 2rem;
            }

            &:after {
                width: 5rem;
                height: 100%;
                content: "";
                position: absolute;
                right: -2.4rem;
                top: -1px;
                border-width: 1px 1px 0 0;
                border-style: solid;
                border-radius: 0 8px 0 0;
                border-color: #EBE5E5;
                background-color: #F2F2F2;
                transform: skew(35deg);
            }

            .MuiTab-wrapper {
                flex-direction: row;
                align-items: flex-start;
            }

            svg {
                width: 1.8rem;
                margin: 0 10px 0 0 !important;
            }

            @include svgColor(#9F9F9F);

            .MuiChip-root {
                color: #9F9F9F;
            }

            &.Mui-selected {
                margin-top: 0.8rem;
                box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
                background-color: #ffffff;
                color: $primaryColor;
                z-index: 32;

                &:after {
                    background-color: #ffffff;
                    box-shadow: 3px 0 3px rgba($color: #000000, $alpha: 0.05);
                }

                @include svgColor($primaryColor);

                .MuiChip-root {
                    background-color: lighten($color: $primaryColor, $amount: 30);
                    color: $primaryColor;
                }
            }
        }

        @include scrollButtonStyle();
    }
}

.slanted-tab-content {
    &.MuiCard-root {
        @extend .default-card;

        border-top: none;
        box-shadow: 0 -2px 9px rgba($color: #000000, $alpha: 0.1);
        border-top-left-radius: 0;
        z-index: 31;
    }
}


/*Web Form Tab*/
.form-tab-style {
    .MuiButton-root {
        padding: 1.4rem 2.8rem;
        border-left: 1px solid #3d3d3d;
        border-radius: 0;
        background-color: rgba($color: #161c1f, $alpha: 0.85);
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: none;

        &:first-child {
            border-top-left-radius: 10px;
            border-left: none;
        }

        &:last-child {
            border-top-right-radius: 10px;
        }

        svg {
            margin: 0 1.4rem 0 0;
        }

        @extend .svg-color-white;

        &.active {
            background-color: #ffffff;
            color: $primaryColor;
            @extend .svg-color-primary;
        }
    }
}

.form-tab-content-style {
    position: relative;
    padding: 4rem 3rem;
    border-radius: 10px;
    border-top-left-radius: 0;

    &.default-card {
        &.MuiPaper-root {
            @extend .form-tab-content-style;
        }
    }

    .btn-default {
        position: absolute;
        bottom: -2rem;
        right: 3rem;
        padding: 1rem 2.4rem;
        font-size: 1.8rem;

        svg {
            width: 30px;
            margin-left: 1.8rem;
        }
    }

    .date-time-picker {
        .MuiInputAdornment-root {
            display: none !important;
        }
    }
}