@import './colors';
@import './display';
@import './position';
@import './margin-padding';
@import './transform';
@import './border';
@import './text';
@import './image';

.pointer {
  cursor: pointer !important;
}

.speprator {
  border-style: solid;
  border-color: rgba($color: #8898AA, $alpha: 0.8);

  &--horizontal-bottom {
    border-width: 0 0 1px;
  }
}

.shadow {
  box-shadow: 0 2px 4px rgba($color: #171717, $alpha: 0.18);

  &.large {
    box-shadow: 0 2px 54px 0 rgba(23, 23, 23, 0.18);
  }

  &-none {
    box-shadow: none !important;
  }
}

.z-index--1 {
  z-index: -1;
}

.z-index-1 {
  z-index: 1;
}

.z-index-3 {
  z-index: 3;
}

.z-index-10 {
  z-index: 10;
}

/* --- Width --- */
.w-min-netural {
  min-width: initial !important;
}

.w-auto {
  width: auto !important;
}

.w-50 {
  width: 50% !important;
}

.w-80 {
  width: 80% !important;
}

.w-100 {
  width: 100% !important;
}

/* --- height --- */
.h-auto {
  height: auto !important;
}

.h-50 {
  height: 50% !important;
}

.h-80 {
  height: 80% !important;
}

.h-100 {
  height: 100% !important;
}

/* --- Line Height --- */
.line-height-default {
  line-height: 1 !important;
}

.line-height-1-5 {
  line-height: 1.5 !important;
}

.line-height-2x {
  line-height: 1.8 !important;
}

.line-height-null {
  line-height: 0 !important;
}

/* --- Filter --- */
.blur {
  filter: blur(2px)
}

.pointer-none {
  pointer-events: none !important;

  * {
    pointer-events: none !important;
  }
}


.virtual-card {
  max-width: 100%;
  width: 318px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #1a2a30;
  border-radius: 10px;
  background: linear-gradient(45deg, #010115 0%, #1a2225 81%, #1a2225 100%);
  color: #fff;
  overflow: hidden;
  z-index: 1;

  &:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/images/website/card-bg.svg');
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }

  &.MuiPaper-root {
    @extend .virtual-card;
  }

  .card-type {
    margin-left: auto;
    font-weight: 600;
    font-size: 2.2rem;
  }

  .card-holder {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .card-number {
    font-size: 2.6rem;
    letter-spacing: 2px;
  }

  .card-expiry {
    font-size: 1.5rem;
  }
}