.dashboard-filters {
  margin-bottom: 3rem;

  .default-form-field {
    margin-left: 0 !important;

    .MuiInputBase-root {
      &.MuiOutlinedInput-root {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 5px 6px rgba($color: #000000, $alpha: 0.16);
      }

      .MuiOutlinedInput-notchedOutline {
        display: none;
      }
    }
  }
}

.pagination-float-top {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  z-index: 2;

  @include media-breakpoint-up("xs") {
    width: auto;
    position: absolute;
    top: 2rem;
    right: 5.5rem;
    padding: 0;
  }

  .MuiPaginationItem-root {
    border-color: rgba($color: $primaryColor, $alpha: 0.32);
    border-radius: 50%;
    background-color: #ffffff;
    color: $primaryColor;

    &:hover {
      background-color: $color1;
    }

    &.Mui-selected {
      border-radius: 4px;
      background-color: $primaryColor;
      color: #ffffff;
    }
  }
}

.pagination-bottom {
  padding: 0 0 5rem;

  .MuiPaginationItem-root {
    border-color: rgba($color: $primaryColor, $alpha: 0.32);
    border-radius: 50%;
    background-color: #ffffff;
    color: $primaryColor;

    &:hover {
      background-color: $color1;
    }

    &.Mui-selected {
      border-radius: 4px;
      background-color: $primaryColor;
      color: #ffffff;
    }
  }
}

.dashboard-booking-list-card {
  display: flex;
  position: relative;
  padding: 2rem;
  border-radius: 0;
  box-shadow: none;
  background: #ffffff;
  background-blend-mode: multiply;
  background-size: cover, repeat;
  transition: 400ms ease;

  @include media-breakpoint-down("xs") {
    flex-direction: column;
  }

  * {
    transition: 500ms ease;
  }

  &:not(:last-child) {
    border-bottom: 2px dashed #e8e8e8;

    &:before,
    &:after {
      width: 30px;
      height: 30px;
      content: "";
      position: absolute;
      bottom: -15px;
      border-radius: 50%;
      background-color: #e8e8e8;
      z-index: 1;
    }

    &:before {
      left: -15px;
    }

    &:after {
      right: -15px;
    }
  }

  &:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  &:last-child {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &.MuiPaper-root {
    @extend .dashboard-booking-list-card;
  }

  figure {
    min-height: 10rem;
    width: 14%;
    height: 100%;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .MuiTypography-root {
    color: #172b4d;
  }

  a {
    cursor: pointer;
    &:hover {
      color: $primaryColor;
      .MuiTypography-root {
        color: $primaryColor;
      }
    }
  }

  .MuiChip-root {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: #9f9f9f;

    svg {
      width: 1.5rem;
    }

    @include svgColor(#9f9f9f);

    &[href] {
      &:hover {
        color: $primaryColor;
        text-decoration: underline;
      }
    }
  }

  &__direction {
    flex-shrink: 0;

    p {
      width: calc(50% - 2rem);
      flex-shrink: 0;
      color: $color1;
      font-size: 1.5rem;

      @include media-breakpoint-down("xs") {
        width: 100%;
      }
    }

    svg {
      width: 1.8rem;
      flex-shrink: 0;
    }

    @include svgColor($primaryColor);
  }

  &-head {
    &.MuiTypography-root {
      position: sticky;
      top: 0;
      left: 3rem;
      padding: 2rem 3rem;
      background-color: #ffffff;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      font-size: 2rem;
      z-index: 1;
    }
  }

  .btn-group {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    transition: 400ms ease;

    @include media-breakpoint-up("xs") {
      flex-direction: row;
      justify-content: flex-start;
    }

    .btn-default {
      width: 100%;
      height: 38px;
      margin-top: 2rem;
      padding: 0.8rem 1rem !important;

      @include media-breakpoint-up("xs") {
        width: auto;
        margin: 0;
      }
    }
  }

  .btn-default {
    opacity: 1;

    svg {
      width: 2rem;
      margin-left: 1rem;
    }
  }
}

.driver-assign-dialog {
  .MuiGrid-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.driver-list {
  max-height: 47.5vh;
  overflow: auto;

  .MuiListItem-root {
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px;

    .MuiListItemText-secondary {
      .MuiTypography-root {
        color: #a8a8a8;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    .icon-check {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #cfcfcf;
      border-radius: 50%;

      svg {
        width: 1.6rem;
        height: 1.6rem;
        display: none;
      }
    }

    &.selected {
      padding-left: 16px;
      padding-right: 16px;
      background-color: rgba($color: $primaryColor, $alpha: 0.05);

      .icon-check {
        background-color: $primaryColor;

        svg {
          display: block;
        }
      }
    }
  }
}

.toggle-btn {
  padding: 10px 15px !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 0 3px 8px rgba($color: #000000, $alpha: 0.16);
  background-color: $color1 !important;
  color: #ffffff !important;
  text-transform: none !important;

  @include svgColor(#fff);

  .MuiTypography-h6 {
    display: none;
  }

  &.Mui-selected {
    background-color: $primaryColor !important;

    .MuiTypography-h6 {
      display: block;
    }
  }
}
