html,
body {
  @include media-breakpoint-down("md") {
    &.mobile-menu-open {
      overflow: hidden;

      #root {
        .main-wrapper {
          > :not(.main-header) {
            filter: blur(8px);
          }
        }
      }
    }
  }
}

body {
  position: relative;
}

.main-wrapper {
  width: 100%;
  background-color: $color1;
  color: #fff;

  &.push-top {
    padding-top: 13.4rem;
  }

  &.loading-data {
    filter: blur(6px);
  }
}

.inner-banner {
  width: 100%;
  height: 45vh;
  position: relative;

  @include media-breakpoint-down("md") {
    height: 45vh;
  }

  &:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(26, 34, 37, 0.1) 0%, rgba(26, 34, 37, 1) 100%);
  }

  img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
  }

  .MuiTypography-h2 {
    margin-top: 2rem;
    font-size: 8.5rem;
    font-weight: 400;
    word-break: break-all;

    // @extend .font-Tangerine;

    @include media-breakpoint-down("sm") {
      font-size: 6rem;
    }
  }

  &__content {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.MuiButton-root.btn-booking {
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  text-transform: capitalize;
}

/* ===== Start Header =====*/
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  z-index: 999;

  &__main {
    height: 13.4rem;
    padding: 2rem 0;
    transition: 300ms ease;

    @include media-breakpoint-down("md") {
      height: 8rem;
    }
  }

  &__nav {
    justify-self: center;

    a {
      margin: 0 2.2rem;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: $secondaryColor;
      }

      &.active {
        color: $primaryColor;
      }
    }

    &.mobile-menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: -100%;
      left: 0;
      padding-top: 22rem;
      background-color: $color1;
      transition: 400ms cubic-bezier(0.83, 0, 0.17, 1);
      z-index: 5;

      a {
        max-width: 280px;
        width: 80%;
        margin: 0;
        padding: 1.8rem 2rem;
        font-size: 2rem;
        text-align: center;
        opacity: 0;
        transform: translateX(-100px);

        &:not(:last-child) {
          border-bottom: 1px solid #282d2f;
        }
      }

      @at-root .mobile-menu-open {
        .mobile-menu {
          top: 0;

          a {
            transform: translateX(0);
            opacity: 1;
            transition: 400ms cubic-bezier(0.34, 1.56, 0.64, 1);

            @for $i from 1 through 10 {
              &:nth-child(#{$i}) {
                transition-delay: 600ms + $i * 150;
              }
            }
          }
        }
      }
    }
  }

  .logo {
    width: 20rem;
    flex-shrink: 0;
    transition: 500ms cubic-bezier(0.34, 1.56, 0.64, 1) 300ms;
    z-index: 6;

    img {
      width: 100%;
    }

    @include media-breakpoint-down("md") {
      width: 12rem;
      position: absolute;
      top: 20px;
      left: 15px;

      &.expand-logo {
        width: 22rem;
        top: 8rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .btn-default {
    @include media-breakpoint-down("xs") {
      min-width: initial;
      font-size: 1.2rem;
    }
  }

  .btn-hamburger {
    margin-left: 2rem;
    z-index: 6;

    &.MuiButtonBase-root {
      @extend .btn-hamburger;
    }

    svg {
      width: 2.2rem;
      height: auto;
    }
  }

  &.fixed {
    box-shadow: 0 2px 25px 0 rgba(239, 187, 84, 0.18);
    background-color: #1a2225;

    .main-header__main {
      height: 7.5rem;
    }

    .logo {
      img {
        width: 12rem;
      }
    }
  }
}

.submenu-wrapper {
  background: linear-gradient(135deg, #1a2225 40%, #000000 100%);

  &.MuiPaper-root {
    @extend .submenu-wrapper;
  }

  a {
    color: #ffffff;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
      color: $primaryColor;
    }
  }
}

.customer-dropdown {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;

  .MuiAvatar-root {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    background-color: $primaryColor;
    color: $color1;
  }
}

.customer-dropdown-list {
  .MuiPaper-root {
    min-width: 18rem;
    margin-top: 4.5rem;
    background-color: $color1;

    .MuiMenu-list {
      .MuiMenuItem-root {
        padding: 1rem 2rem;
        color: #ffffff;

        &:not(:last-child) {
          border-bottom: 1px solid #121d21;
        }
      }
    }
  }
}

/* ===== End Header =====*/

.hero-banner {
  max-height: 100%;
  height: 70rem;
  position: relative;
  padding-top: 13.4rem;
  z-index: 1;

  @include media-breakpoint-down("md") {
    height: auto;
    padding-top: 7vh;
  }

  &:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $color1, $alpha: 0.68);
  }

  h1 {
    font-size: 7.5rem;
    line-height: 1.3;

    @include media-breakpoint-down("xs") {
      font-size: 5rem;
    }
  }

  > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .default-form {
    @include media-breakpoint-down("md") {
      margin-bottom: 8vh;
    }
  }
}

.section-default {
  position: relative;
  padding: 110px 0;
  z-index: 1;

  &.p-sm {
    padding: 80px 0;
  }

  @include media-breakpoint-down("md") {
    padding: 80px 0;
  }

  .MuiContainer-root {
    overflow: hidden;
  }

  .floating-img {
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @include media-breakpoint-down("md") {
      opacity: 0.16;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.section-title {
  margin: 0 0 3rem;
  color: #192023;
  font-size: 4rem;
  font-weight: 400;

  span {
    color: $primaryColor;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &.MuiTypography-root {
    @extend .section-title;
  }
}

.about-area {
  padding: 20rem 0 14rem;
  background-color: $color1;

  @include media-breakpoint-down("md") {
    padding: 8rem 0;
  }

  .section-title {
    color: #fff;
  }

  .stacked-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    .img-1 {
      width: 35rem;
      position: absolute;
      left: 0;
      bottom: 0;
      box-shadow: 0 20px 60px 0 rgba($color: $color1, $alpha: 0.3);
    }

    .img-2 {
      width: 60%;
      height: 47rem;
      object-fit: cover;
      box-shadow: 20px 0 50px 0 rgba($color: $color1, $alpha: 0.3);
    }
  }
}

.feature-area {
  position: relative;
  padding: 14rem 0;
  background-image: url("../../images/website/28803.jpg");
  background-size: cover;

  @include media-breakpoint-down("md") {
    padding: 8rem 0;
  }

  &:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $color1, $alpha: 0.68);
  }

  .section-title {
    margin-bottom: 8rem;
    color: #ffffff;
    text-align: center;
  }

  .MuiContainer-root {
    position: relative;
  }

  .feature-item {
    width: 100%;
    height: 26rem;
    position: relative;
    border-radius: 6px;
    background-color: $secondaryColor;
    overflow: hidden;

    img {
      width: 100%;
      height: 26rem;
      object-fit: cover;
      opacity: 0.75;
    }

    &__content {
      max-height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 3.5rem 3rem;
      overflow: hidden;
    }

    .MuiTypography-root {
      color: #ffffff;
      z-index: 1;

      &.MuiTypography-h3 {
        font-weight: 500;
      }
    }

    p {
      opacity: 0;

      @include media-breakpoint-down("md") {
        @include multiLineEllipsis(2);
      }
    }

    &:hover {
      img {
        opacity: 0.2;
        transition: 800ms ease;
      }

      .feature-item__content {
        max-height: 1000px;
        transition: 800ms cubic-bezier(0.32, 0, 0.67, 0);
      }

      p {
        opacity: 1;
        transition: 600ms cubic-bezier(0.32, 0, 0.67, 0);
      }
    }
  }
}

.testimonial-area {
  position: relative;
  padding: 14rem 0;
  text-align: center;
  background: linear-gradient(135deg, #55182f 0%, #55182f 0%, #1a2225 15%, #1a2225 15%, #1a2225 50%, #55182f 100%);

  @include media-breakpoint-down("md") {
    padding: 8rem 0;
  }

  &:before,
  &:after {
    width: 10rem;
    height: 10rem;
    content: "";
    position: absolute;
    top: 27%;
    background-image: url("../../images/graphics.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
  }

  &:before {
    left: 20%;
  }

  &:after {
    right: 20%;
    transform: rotate(270deg);
  }

  .section-title {
    margin-bottom: 13rem;
    color: $primaryColor;

    span {
      color: #607881;
      font-size: 2rem;
      font-weight: 500;
    }
  }

  .testimonial-slider {
    .testimonial-slide {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up("md") {
        flex-direction: row;
        padding: 0 10rem;
      }

      figure {
        width: 22rem;
        height: 22rem;
        flex-shrink: 0;
        margin: 0 auto 5rem;
        padding: 5rem;
        position: relative;
        border-radius: 50%;
        border: 3px solid #481226;
        background-color: rgba(85, 24, 47, 0.28);
        overflow: hidden;
        transition: 400ms ease;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: top;
        }
      }

      .box {
        @include media-breakpoint-up("md") {
          width: calc(100% - (22rem + 8rem));
        }
      }

      h3 {
        margin-bottom: 2rem;
        color: #fff;
        font-size: 3.8rem;
        transition: 400ms ease 400ms;

        @include media-breakpoint-up("md") {
          text-align: left;
        }

        small {
          display: block;
          margin-top: 0.8rem;
          color: #69767a;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }

      p {
        color: #afafaf;
        font-size: 2rem;
        transition: 400ms ease 800ms;

        @include media-breakpoint-up("md") {
          text-align: left;
        }
      }

      &:not(.is-active) {
        @include media-breakpoint-up("xs") {
          figure {
            transform: scale(0.5) translateX(8rem);
            transform-origin: right;
          }
        }

        h3,
        p {
          transform: translateY(10px);
          opacity: 0;
          transition: 0ms ease;
        }
      }

      @include media-breakpoint-up("xs") {
        &.is-active {
          + .testimonial-slide {
            figure {
              transform: scale(0.5) translateX(-8rem);
              transform-origin: left;
            }
          }
        }
      }
    }

    .splide__arrows {
      .splide__arrow {
        width: auto;
        height: auto;
        padding: 0.4rem;
        background-color: rgba($color: #2a0714, $alpha: 0.12);
        top: 10%;
        transform: translateY(0);

        svg {
          width: 30px;
          height: auto;
        }

        @include svgColor(#fff);

        &:hover {
          transform: translateY(-50%) scale(1.4);
        }

        @include media-breakpoint-up("md") {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.contact-area {
  padding: 14rem 0;
  background-color: #101416;

  @include media-breakpoint-down("xs") {
    padding: 8rem 0;
  }

  .foot-logo {
    width: 6rem;
    display: block;
    margin: 0 auto 8rem;
  }

  a {
    color: #fff;

    &:hover {
      color: $primaryColor;
    }
  }
}

.btn-social {
  .MuiIconButton-root {
    border: 1px solid #232c31;
    margin: 0 1.6rem;

    &:hover {
      background-color: $primaryColor;
    }
  }
}

.main-footer {
  padding: 1rem 0;
  background-color: #000000;
}

.list-car {
  margin-bottom: 0 !important;

  &.MuiGrid-root {
    @extend .list-car;
  }

  &__img {
    @include media-breakpoint-down("md") {
      margin-bottom: 3rem;
    }

    img {
      object-fit: cover;
      border: 4px solid #a08242;
      border-radius: 5px;
      aspect-ratio: 4/3;
    }
  }

  .price {
    margin: 0.5rem 0 2rem;
    color: $primaryColor;
    font-size: 4.5rem;
  }

  &__status {
    svg {
      width: 3rem;
      height: 3rem;
      margin: 0 1rem 0 3rem;

      * {
        fill: #8d8d8d;
      }
    }

    span {
      width: 2.8rem;
      height: 2.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid darken($color: $primaryColor, $amount: 25);
      border-radius: 50%;
      color: $primaryColor;
    }
  }
}

.slide-thumb {
  margin-top: 1.5rem;

  .splide__slide {
    filter: grayscale(1);

    &.is-active {
      border: none !important;
      transform: scale(1.1);
      filter: grayscale(0);
    }
  }
}

/* Pages */
.about-section-1 {
  .MuiTypography-root {
    font-size: 3.5rem;

    @include media-breakpoint-up("md") {
      margin-left: 5rem;
    }
  }
}

.about-section-2 {
  .floating-img {
    width: 30%;
    right: 8%;
    top: -8%;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);
  }
}

.about-ceo-section {
  figure {
    width: 100%;
    margin: 0 3rem 1rem 0;
    padding-bottom: 100%;

    @include media-breakpoint-up("sm") {
      width: 33.333333%;
      padding-bottom: 36.333333%;
      float: left;
    }
  }
}

.contact {
  height: 120rem;

  @include media-breakpoint-up("md") {
    padding-top: 180px;
  }

  * {
    flex-shrink: 0;
  }

  .MuiTypography-h1 {
    margin-bottom: 3.8rem;
    font-size: 10rem;
    font-weight: 400;

    // @extend .font-Tangerine;
  }

  label {
    color: $color2;

    @include media-breakpoint-up("xs") {
      width: 15rem;
    }
  }

  .floating-img {
    width: 45%;
    top: 180px;
    z-index: 1;
  }
}

.cars-list {
  height: calc(100% - 3rem);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 2rem 2rem 2.6rem;
  border-radius: 15px;
  box-shadow: none;
  background: linear-gradient(to bottom, rgba(23, 58, 71, 1) 0%, rgba(23, 58, 71, 0.03) 100%);
  color: #ffffff;
  text-align: center;
  overflow: hidden;

  &.MuiPaper-root {
    @extend .cars-list;
  }

  figure {
    width: calc(100% + 4rem);
    height: 18rem;
    margin: -2rem -2rem 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 2.4rem;
    color: #fff;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;

    @include multiLineEllipsis(2);

    &.MuiTypography-root {
      @extend .cars-list__title;
    }
  }

  &__status {
    margin-bottom: 4rem;

    svg {
      width: 2rem;
      height: 2rem;
      margin: 0 1rem 0 2rem;

      &:first-child {
        margin-left: 0;
      }
    }

    @include svgColor(#fff);

    span {
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid darken($color: $primaryColor, $amount: 25);
      border-radius: 50%;
      color: $primaryColor;
    }
  }

  .MuiButtonBase-root {
    width: 100%;
    text-transform: none;
    font-size: 1.6rem;
  }
}

.car-detail-section {
  margin-top: 18rem;
  padding-bottom: 11rem;

  .title {
    margin: 3rem 0 5rem;
    font-size: 4rem;
  }

  .car-status {
    margin-bottom: 5rem;

    svg {
      width: 5rem;
      height: 5rem;
      display: block;
      margin-bottom: 1.5rem;
      padding: 0.6rem;
      border-radius: 8px;
      background-color: #2e2e2e;
    }

    @include svgColor($primaryColor);

    .MuiTypography-root {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 2.8rem;
      color: $primaryColor;
      font-size: 1.6rem;
      text-align: center;
    }

    &.primary {
      svg {
        background-color: $primaryColor;
      }

      @include svgColor(#fff);

      .MuiTypography-root {
        color: #2e2e2e;
      }
    }
  }

  label {
    width: 16rem;
    margin-right: 2rem;
    color: $color2;
  }
}

.car-placeholder {
  height: auto !important;
  padding: 3rem;
}

/*======== Profile Ui ========*/
.profile-ui {
  position: relative;
  margin-top: -8rem;
  padding-bottom: 11rem;
  z-index: 1;

  .default-form {
    .form-group-dark {
      .MuiFormControl-root {
        .MuiInputBase-root {
          .MuiInputAdornment-root {
            .MuiButtonBase-root {
              color: #fff;

              svg {
                line {
                  stroke: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.profile-banner {
  max-height: 30vh;
  overflow: hidden;

  figure {
    position: relative;

    img {
      width: 100%;
      margin-top: -35vh;

      @include media-breakpoint-down("md") {
        width: 110vh;
        margin-top: -19vh;
      }
    }

    &:after {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: radial-gradient(ellipse at 70% 12%, rgba(26, 34, 37, 0.5) 0%, #1a2225 20%);
    }
  }
}

.profile-side-nav {
  position: sticky;
  top: 13.4rem;
  padding: 3rem 0;
  border-radius: 25px;
  box-shadow: none;
  background-color: #1c1c1c;
  color: #ffffff;

  @include media-breakpoint-down("md") {
    margin-bottom: 4rem;
  }

  &.MuiPaper-root {
    @extend .profile-side-nav;
  }

  .MuiTypography-root {
    margin: 0 0 3rem;
    padding: 0 3rem;
  }

  .MuiTabs-root {
    .MuiTabs-flexContainer {
      .MuiTab-root {
        padding: 0 3rem;
        opacity: 0.7;

        @include media-breakpoint-up("md") {
          max-width: 100%;
          width: 100%;
        }

        .MuiTab-wrapper {
          align-items: flex-start;
          font-size: 1.8rem;
          font-weight: 400;
          text-align: left;
          text-transform: none;
        }

        &.Mui-selected {
          background-color: #313131;
          opacity: 1;
        }
      }
    }

    .MuiTabs-indicator {
      width: 4px;
      right: auto;
      left: 0;
    }

    .MuiTabScrollButton-root {
      .MuiSvgIcon-fontSizeSmall {
        font-size: 4rem;
      }
    }
  }
}

.profile-img {
  .MuiAvatar-root {
    background-color: $primaryColor;
    color: $color1;

    &.MuiAvatar-circle,
    &.MuiAvatar-circular {
      width: 18.5vh;
      height: 18.5vh;
      font-size: 8rem;
      text-transform: uppercase;
    }
  }

  .btn-update-profile {
    position: absolute;
    bottom: 2vh;
    right: -1vh;
    background: linear-gradient(to right, #96702f 0%, #e7b950 100%);

    input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    @include svgColor(#fff);
  }
}

.profile-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &.MuiGrid-root.MuiGrid-item {
    padding-left: 3rem;
  }

  .form-group-dark {
    > span {
      margin-right: 1.5rem;
      color: #738f99;
      font-size: 1.8rem;
    }

    .MuiOutlinedInput-adornedStart {
      .MuiTypography-root {
        font-size: 1.8rem;
      }
    }

    .MuiInputBase-input {
      font-size: 1.8rem;

      &[name="name"] {
        font-size: 2.6rem;
        font-weight: 600;
      }
    }
  }

  &.display-mode {
    display: block;

    .form-group-dark {
      margin: 0 0 2.5rem;

      @include media-breakpoint-down("md") {
        justify-content: center;

        > span {
          display: none;
        }

        .MuiFormControl-root.MuiTextField-root {
          width: auto !important;

          input {
            text-align: center !important;
          }
        }
      }

      .MuiOutlinedInput-adornedStart {
        padding-left: 0 !important;
      }

      .MuiInputBase-input {
        padding: 0 !important;

        &[name="name"] {
          margin-top: 1.5rem;
        }
      }

      .MuiOutlinedInput-notchedOutline {
        display: none;
      }
    }
  }
}

.btn-float-edit {
  position: absolute;
  bottom: 2vh;
  right: -1vh;
  background: linear-gradient(to right, #e7b950 0%, #96702f 100%);

  &.MuiButtonBase-root {
    @extend .btn-float-edit;
  }

  @include svgColor(#fff);
}

.booking-list-card {
  display: flex;
  position: relative;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: none;
  background: url("../../images/map.jpg"),
    linear-gradient(to right, rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 1) 75%, rgba(28, 28, 28, 0.75) 100%);
  background-blend-mode: multiply;
  background-size: cover, repeat;
  transition: 400ms ease;
  overflow: hidden;

  @include media-breakpoint-down("xs") {
    flex-direction: column;
  }

  * {
    transition: 500ms ease;
  }

  &:hover {
    background-position-y: -100px;

    * {
      opacity: 0.85;
    }

    .btn-default {
      bottom: 2rem;
      opacity: 1;
    }

    .content-wrapper,
    .content-detail-wrap {
      opacity: 1;
    }

    a {
      opacity: 1;

      * {
        opacity: 1;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &.MuiPaper-root {
    @extend .booking-list-card;
  }

  figure {
    min-height: 10rem;
    width: 20%;
    height: 100%;
    flex-shrink: 0;
    margin-right: 3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .MuiChip-root {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: #9f9f9f;

    svg {
      width: 1.5rem;
    }

    @include svgColor(#9f9f9f);
  }

  &__direction {
    flex-shrink: 0;

    p {
      width: calc(50% - 0.9rem);
      flex-shrink: 0;
      color: #ffffff;
      font-size: 1.5rem;

      @include media-breakpoint-down("xs") {
        width: 100%;
      }
    }

    svg {
      width: 1.8rem;
      flex-shrink: 0;
    }

    @include svgColor($primaryColor);
  }

  .btn-default {
    position: absolute;
    right: 3rem;
    bottom: 0;
    opacity: 0;
    transition: 400ms ease;

    svg {
      width: 1.5rem;
      margin-left: 1rem;

      * {
        &:not([stroke-width]) {
          fill: rgba(0, 0, 0, 0.87) !important;
        }

        &[stroke-width] {
          stroke: rgba(0, 0, 0, 0.87) !important;
        }
      }
    }

    @include media-breakpoint-down("xs") {
      width: 100%;
      position: static;
      margin-top: 3rem;
      opacity: 1;
    }
  }

  .status-bg {
    margin-top: 3rem;
    align-self: flex-start;

    @include media-breakpoint-up("xs") {
      position: absolute;
      right: 3rem;
      bottom: 3rem;
      margin: 0;
    }
  }

  &.outlined {
    border: 1px solid $primaryColor;
    background: none;
    background-color: #fbffff;
    color: #172b4d;

    &:hover {
      box-shadow: 0 3px 12px rgba($color: #000000, $alpha: 0.08);

      * {
        opacity: 1;
      }
    }

    .MuiChip-root {
      color: #172b4d;
    }

    .booking-list-card__direction {
      p {
        color: #172b4d;
      }
    }
  }
}

/*======== Get Quote Dialog ========*/
.btn-get-quote-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;

  .MuiButtonBase-root {
    padding: 1rem 1.6rem;
    border-radius: 0;
  }

  > span {
    position: absolute;
    display: block;

    &:nth-child(2) {
      height: 2px;
      width: 200px;
      top: 0px;
      left: -200px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
      border-top-right-radius: 1px;
      border-bottom-right-radius: 1px;
      animation: span1 2s linear infinite;
      animation-delay: 1s;

      @keyframes span1 {
        0% {
          left: -200px;
        }

        100% {
          left: 200px;
        }
      }
    }

    &:nth-child(3) {
      width: 2px;
      height: 70px;
      top: -70px;
      right: 0px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      animation: span2 2s linear infinite;
      animation-delay: 2s;

      @keyframes span2 {
        0% {
          top: -70px;
        }

        100% {
          top: 70px;
        }
      }
    }

    &:nth-child(4) {
      height: 2px;
      width: 200px;
      right: -200px;
      bottom: 0px;
      background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;
      animation: span3 2s linear infinite;
      animation-delay: 3s;

      @keyframes span3 {
        0% {
          right: -200px;
        }

        100% {
          right: 200px;
        }
      }
    }

    &:nth-child(5) {
      height: 70px;
      width: 2px;
      bottom: -70px;
      left: 0px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
      border-top-right-radius: 1px;
      border-top-left-radius: 1px;
      animation: span4 2s linear infinite;
      animation-delay: 4s;

      @keyframes span4 {
        0% {
          bottom: -70px;
        }

        100% {
          bottom: 70px;
        }
      }
    }
  }
}

.get-quote-dialog {
  width: 640px;
  min-height: 25vh;
  position: relative;
  padding: 5vh 4vh 5vh 10vh;
  background-color: #1c1c1c;
  color: #f8f8f8;

  @include media-breakpoint-down("xs") {
    padding: 3vh;
  }

  &.showing-result {
    width: 720px;
  }

  &.MuiDialog-paper {
    @extend .get-quote-dialog;
  }

  .btn-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }

    @include svgColor(#fff);
  }

  .gradent-title {
    position: absolute;
    left: -5vh;
    top: 45%;
    transform: rotate(-90deg);
    background-color: $primaryColor;
    background: linear-gradient(to right, #fffbfb 40%, #d5ab53 40%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    @include media-breakpoint-down("xs") {
      display: none;
    }
  }

  .select-service-btn {
    align-items: center;
    margin-bottom: 3rem;

    .MuiToggleButton-root {
      padding: 1rem 2rem;
      border: 1px solid #f2f2f2;
      border-radius: 4px;
      color: #fff;
      font-size: 1.4rem;

      @include media-breakpoint-down("xs") {
        padding: 1rem;
        font-size: 1.2rem;
      }

      &:not(:last-child) {
        border-radius: 4px;
      }

      &:not(:first-child) {
        margin-left: 2rem;
        border-radius: 4px;
      }

      &.Mui-selected {
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
    }
  }

  .animate-from-bottom {
    > * {
      &:not(label) {
        opacity: 0;
        transform: translateY(20px);

        animation-name: fromBottom;
        animation-duration: 600ms;
        animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
        animation-fill-mode: forwards;
      }
    }

    &.shrink-left {
      * {
        pointer-events: none;

        &:not(label) {
          opacity: 0;
          transform: translateY(20px);

          animation-name: exitTop;
          animation-duration: 600ms;
          animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
          animation-fill-mode: forwards;
        }
      }
    }
  }

  .quote-result-view {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3vh 4vh 5vh 10vh;

    @include media-breakpoint-down("xs") {
      padding: 3vh;
    }

    > * {
      opacity: 0;
      transform: translateY(20px);

      animation-name: fromBottom;
      animation-duration: 600ms;
      animation-delay: 600ms;
      animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
      animation-fill-mode: forwards;
    }

    .MuiTypography-h2 {
      font-size: 6.5rem;
    }
  }

  @keyframes fromBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
      overflow: hidden;
    }

    95% {
      opacity: 1;
      transform: translateY(0);
      overflow: hidden;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes exitTop {
    0% {
      opacity: 1;
      transform: translateY(0);
      overflow: hidden;
    }

    100% {
      opacity: 0;
      transform: translateY(-30px);
      overflow: hidden;
    }
  }
}

.off-hour-active {
  position: relative;
  pointer-events: none;

  * {
    pointer-events: none !important;
  }
}

.off-hour-msg {
  width: 100%;
  height: calc(100% + 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  background-color: rgba($color: $color1, $alpha: 0.6);
  color: $bluish-1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  z-index: 5;

  &.MuiTypography-root {
    @extend .off-hour-msg;
  }
}
