$headerTransision: 400ms ease 100ms;

.cms-header {
  &.clipped {
    z-index: 1300 !important;
  }
}

.cms-drawer-content {
  width: 100%;

  @include media-breakpoint-up('md') {
    width: calc(100% - #{$sideNavWidth});
    margin-left: $sideNavWidth;

    &.collapsed {
      width: calc(100% - #{$sideNaveCollapseWidth});
      margin-left: $sideNaveCollapseWidth;
    }
  }
}

.toolbar-logo {
  margin-top: 2rem;
  img {
    width: 18rem;
    transition: 300ms ease 300ms;

    &.small-logo {
      width: calc(100% - 1rem);
      height: calc(100% - 3rem);
      object-fit: contain;
      position: absolute;
      top: 1.5rem;
      left: 50%;
      transform: scale(0.6) translateX(-50%);
      opacity: 0;
      transition: 300ms ease;
    }
  }

  &.clipped {
    width: $sideNavWidth;
  }
}

.placeholder-toolbar {
  &.MuiToolbar-root {
    height: $toolbarHeight;
    padding: 0;
    z-index: 1;
  }
}


.cms-drawer {
  .MuiDrawer-paper {
    flex-shrink: 0;
    border-right: none;
  }

  @include media-breakpoint-up("md") {
    &.collapsed {
      .toolbar-logo {
        img {
          transform: scale(1.3);
          opacity: 0;
          transition: 300ms ease;

          &.small-logo {
            transform: scale(1) translateX(-50%);
            opacity: 1;
            transition: 300ms ease 300ms;
          }
        }
      }

      .MuiDrawer-paper {
        width: $sideNaveCollapseWidth;
      }

      &.hover-expand {
        &:hover {
          .toolbar-logo {
            img {
              transform: scale(1);
              opacity: 1;

              &.small-logo {
                transform: scale(0.6) translateX(-50%);
                opacity: 0;
                transition: 300ms ease;
              }
            }
          }

          .MuiDrawer-paper {
            width: $sideNavWidth;
            box-shadow: 2px 0 6px rgba($color: #000000, $alpha: 0.04);
            transition: 400ms ease;
          }
        }
      }
    }

    &.expanded {
      .MuiDrawer-paper {
        width: $sideNavWidth;
      }
    }
  }
}

.cms-body {
  padding: 2.5rem;

  @include media-breakpoint-up('md') {
    padding: 3.8rem;
  }

  &.MuiContainer-root {
    @extend .cms-body;
  }
}