.cms-header {
    * {
        color: inherit !important;

        &.MuiButton-outlined {
            border-color: inherit;
        }
    }

    &.MuiAppBar-root {
        box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.04);
        background-color: $toolbarBackground;
        color: $toolbarTextColor;
    }

    .MuiToolbar-root {
        height: $toolbarHeight;
        padding: 0
    }

    .toolbar-search-wrap {
        position: relative;
        border-radius: 5px;

        .MuiFormControl-root.MuiTextField-root {
            width: 100%;
            background-color: $toolbarSearchBackground;

            input {
                color: #555454 !important;
            }

            @include media-breakpoint-down('xs') {
                display: none;
                position: fixed;
                top: $toolbarHeight;
                left: 0;
                background-color: #ffffff;
            }

            @include svgColor(#333);

            &.mobile-search {
                display: inline-flex;
            }
        }
    }

    .right-nav {
        margin-left: auto
    }
}

.user-dropdown {
    border: 1px solid #E0E0E0;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.16);

    .MuiMenuItem-root {
        padding: 1rem 2rem;

        .icon {
            width: 3.4rem;
            height: 3.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.8rem;
            border-radius: 50%;
            background-color: lighten($color: $primaryColor, $amount: 35);

            @extend .svg-size-small;
            @include svgColor($primaryColor);
        }
    }
}

.notification-dropdown {
    width: 380px;
    border: 1px solid #E0E0E0;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.16);

    &.MuiPopover-paper {
        @extend .notification-dropdown;
    }

    .MuiButtonBase-root.MuiButton-root {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .MuiMenuItem-root {
        width: 100%;
        align-items: flex-start;
        padding: 2rem 2rem;

        .icon {
            width: 3.4rem;
            height: 3.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 50%;
            background-color: lighten($color: $primaryColor, $amount: 35);

            @extend .svg-size-small;
            @include svgColor($primaryColor);
        }

        .content {
            max-width: 58%;
            margin: 0 1.8rem;
            flex-shrink: 0;
        }

        .time {
            flex-shrink: 0;
            margin-left: auto;
            color: $grey;
        }
    }
}